@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family: "Barlow", sans-serif;
$font-size-base: 17px;
$green: #add40c;
$dark: #0e0f11;
$text-dark: #04000b;
$bright-yellow-green : #C9F31D;
$pink: #ea4c89;
$blue: #3B5998;
$grey: #666666;
$light-grey: #e7e7e7;
$light-grayish-white: #f2f3ef;
$silver-grey: #c2bfbf;
$white-70: rgba(255, 255, 255, 0.7);
$black-40: rgba(0, 0, 0, 0.4);
$soft-white: #fdfdfd;
$dark-grey: rgb(46, 45, 45);
$very-light-grey: #dddddd;
$medium-light-grey: #cccccc;
$blue-grey-33: rgb(109 117 143 / 33%);
$linkedin-blue: #0077B5;
$white-0 : rgba(255, 255, 255, 0);
$white-70: rgba(255, 255, 255, 0.7);
$white-80: rgba(255, 255, 255, 0.8);
$white-40: rgba(255, 255, 255, 0.4);
$black-10: rgba(0, 0, 0, 0.1);
$white-85: rgba(255, 255, 255, 0.85);
$black-15: rgba(0,0,0,0.15);
$grey-60: #232323;
$gray: #343232;
$blue-40: rgba(44, 130, 237, 0.4);
$black-14 : rgba(18, 20, 32, 0.14);
$very-light-grayish-white: #EFF2E4;